.main-section{
 
  max-width: 100%;
  margin: auto;
  background-color: #E6FF81; 
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 800px;
}
.main-heading{
  font-size: 140px;
  color:rgb(41, 69, 27);
  font-weight: 200;
  text-align: center;
  margin:10px;
}
.main-section button{
  width:90px;
  background:transparent;
  border: 1px solid rgb(41, 69, 27);
  border-radius: 15px;
  padding: 12px;
  color: rgb(41, 69, 27);
  font-size: 20px;

}
.main-section button:hover{
  cursor: pointer;
 color: white;
} 